body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.synonym-list {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin: 5% auto 0 auto;
  flex-wrap: wrap;
}

.edit-quote {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#firebaseui-auth-container {
  display: flex;
  justify-content: space-evenly;
}
